/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  justify-content: center;
  padding: 20px 0;
  margin-bottom: 50px;
}

.search-form>input {
  width: 200px;
  border: 1px solid #808080;
  outline: none;
  border-radius: 5px;
  padding: 8px 118px 8px 16px;
  margin-right: 10px;

  font-size: 14px;
  background-color: #fff;
}

.search-form>input::placeholder {
  font-size: 16px;
  text-align: left;
}

.search-form>button {
  width: 90px;
  border: none;
  border-radius: 8px;
  outline: none;
  padding: 8px 16px;

  font-size: 16px;
  color: #ffffff;
  background-color: #4E75FF;

  cursor: pointer;
}

.gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.photo-card {
  width: 360px;
  display: flex;
  flex-direction: column;
  border: 1px solid #808080;
}

.photo-card__info {
  display: flex;
  padding: 4px 20px;
}

.photo-card__info--item {
  margin-right: 20px;
  text-align: center;
}

.photo-card__info--item:nth-child(4) {
  margin-right: 0;
}

.photo-card:nth-child(4n) {
  margin-right: 0;
}

.gallery__item {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.photo {
  object-fit: cover;
  height: 250px;
  width: 400px;
}

.load-more {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  outline: none;

  padding: 5px 20px;
  background-color: cadetblue;
  font-weight: 700;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.is-hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.button-up-hidden {
  opacity: 0;
  transform: translateX(200%);
}